<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment List</title>
  <link rel="stylesheet" href="all_appoinment.css">
</head>
<body>

  <h1>Appointment List</h1>

  <% if (appointments.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Doctor ID</th>
          <th>Date</th>
          <th>Day</th>
          <th>Time</th>
          <th>Visiting Fee</th>
        </tr>
      </thead>
      <tbody>
        <% appointments.forEach(appointment => { %>
          <tr>
            <td><%= appointment.patient_id %></td>
            <td><%= appointment.doctor_id %></td>
            <td><%= appointment.date %></td>
            <td><%= appointment.day %></td>
            <td><%= appointment.time %></td>
            <td><%= appointment.visiting_fee %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>No appointments available.</p>
  <% } %>

  <form action="/appointment/add_new_appointment" method="get" >
    <button>Create New Appointment</button>
  </form>

</body>
</html>
