<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee Information</title>
</head>
<body>
    <h1>Edit Employee Information</h1>
    <form action="/employee/<%= employee.employee_id %>/edit?_method=PATCH" method="POST">
        <label for="contract">Contract:</label>
        <input type="text" id="contract" name="contract" value="<%= employee.contract %>"><br><br>
        <label for="nid">NID:</label>
        <input type="text" id="nid" name="nid" value="<%= employee.nid %>"><br><br>
        
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="<%= employee.address %>"><br><br>
        
        <label for="salary">Salary:</label>
        <input type="number" id="salary" name="salary" value="<%= employee.salary %>"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
